services:
  xgc.carbon_parameter:
    class: Xgc\CarbonBundle\Request\ParamConverter\CarbonParamConverter
    tags:
      - { name: request.param_converter, priority: -2, converter: carbon_converter }

  xgc.carbon.event.request:
    class: Xgc\CarbonBundle\RequestListener
      arguments: ["@service_container"]
      tags:
        - { name: kernel.event_subscriber }
